.menucontainer {
    gap: 2rem;
    height: 70px; 
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    border-bottom: 1px solid #e5e7eb; 
    display: flex;
    align-items: center; 
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .logoimg {
    height: 60px;
    width: auto;
    border-radius: 50px; 
    object-fit:cover;
  }
  
  .itemcontainer {
    text-align: center;
    font-family:serif;
    font-size: 13pt;
    font-weight: 500;
    color: #1f2937;
    transition: color 0.2s ease-in-out;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .itemcontainer:hover {
    color: #8681ed; /* hover เป็น indigo */
    cursor: pointer;
  }
  